<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.T4.mapper.PermissionMapper">
    <resultMap id="PermissionMap" type="cn.T4.domain.Permission">
        <id property="id" column="id"></id>
        <result property="p_name" column="p_name"></result>
        <result property="description" column="description"></result>
        <result property="status" column="status"></result>
    </resultMap>


<!--    void save(Permission permission);-->
    <insert id="save" parameterType="cn.T4.domain.Permission">
        insert into d2_permission
        (
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="p_name!=null">
                p_name,
            </if>
            <if test="description!=null">
                dercription,
            </if>
            <if test="status!=null">
                status,
            </if>
        </trim>
        )
        values
        (
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="p_name!=null">
                #{p_name},
            </if>
            <if test="description!=null">
                #{dercription},
            </if>
            <if test="status!=null">
                #{status},
            </if>
        </trim>
        )

    </insert>

<!--    void delete(Integer id);-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from d2_permission where  id=#{id}
    </delete>

<!--    void update(Permission permission);-->
    <update id="update" parameterType="cn.T4.domain.Permission">
        update d2_permission
        <set>
            <if test="permission!=null">
                p_name=#{p_name}
            </if>
            <if test="description!=null">
                dercription=#{description}
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where id =#{id}
    </update>
<!--    //查询
    Permission select(Integer id);-->
    <select id="select" parameterType="java.lang.Integer" resultType="cn.T4.domain.Permission">
        select * from d2_permission where  id=#{id}
    </select>
<!--    List<Permission> selectAllPermission();-->
    <select id="selectAllPermission" resultType="cn.T4.domain.Permission">
        select * from d2_permission
    </select>


</mapper>