<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--包扫描-->
    <context:component-scan base-package="cn.T4.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

<!--    <context:component-scan base-package="cn.T4.controller"/>-->

    <!--转发-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--放行静态资源-->
    <mvc:resources location="/static/css/" mapping="/static/css/**" ></mvc:resources>
    <mvc:resources location="/static/js/" mapping="/static/js/**" ></mvc:resources>
    <mvc:resources location="/static/image/" mapping="/static/image/**" ></mvc:resources>
    <!--<mvc:Resources mapping="/static/**" location="/static/"></mvc:Resources>-->

    <!--开启注解-->
    <mvc:annotation-driven></mvc:annotation-driven>

</beans>